<accordion-group>
    <details id="product-accordion-1">
        <summary>
            <h6 class="cc-fs2 cc-uppercase">{{ "custom.payment_info" | t }}</h6>
            <summary-icon>
                <i class="icon icon--plus" aria-hidden="true"></i>
            </summary-icon>
        </summary>

        <details-content>

            <div class="clearpay-trigger"></div>
            
            <div class="klarna-paragraph" >
                <div id="klarna_placement"></div>
            </div>
            <script src="https://www.paypal.com/sdk/js?client-id=AYP95dGeZV8ZgfBCHvvZVPOXUmX_WBKSojV57GU7I_jg4fwLbfyr7gMjfzte69sOVEgnv-iaKjGzhcKl&currency=GBP&components=messages"></script>
            <div class="paypal-paragraph" data-pp-message data-pp-placement="product" data-pp-amount="" data-pp-style-layout="text" data-pp-style-logo-type="inline" data-pp-style-text-color="monochrome"></div>                
                
        </details-content>
    </details>
</accordion-group>