<div id="anniversary-navigation" class="cc-hidescroll anniversary-section">
    <a {% if title == 'HISTORY' %}active{% endif %} href="/pages/history">HISTORY</a>
    <a {% if title == 'LEGACY OF LUXURY' %}active{% endif %} href="/pages/legacy-of-luxury">LEGACY OF LUXURY</a>
    <a {% if title == 'THE COLLECTION' %}active{% endif %} href="/pages/coming-soon" >THE COLLECTION</a>
    <a {% if title == 'LOOKBOOK' %}active{% endif %} href="/pages/lookbook" >LOOKBOOK</a>
    <a {% if title == 'THE DOCUMENTARY' %}active{% endif %} href="/pages/documentary">THE DOCUMENTARY</a>
    <a disabled href="/pages/bts">BTS</a>
</div>