<div id="additional-content" class="cc-fs2">
    {{ page.content }}
</div>

{% style %}

#additional-content {

}

#additional-content h2, #additional-content h3 {
    font-size: calc((var(--font--size-grid) / var(--font--size-base))* 1rem) !important;
}

#additional-content p {
    margin-bottom: 8px;
}

#additional-content strong {
 font-weight: normal;
 text-transform: uppercase;
}

#additional-content table {
    overflow: scroll;
    width: 100%;
    display: block;
}

#additional-content table p {
    margin: 0px;
}

{% endstyle %}