<div id="lookbook">
    <div  id="the-resort" class="container">
      <img class="container-background" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/320424505-0eefea5f-ee73-4f3d-b860-88a2507e2ed5.jpg?v=1712588378">
      <div class="content-container">
          <div class="content-container_head">
            <div class="belwe title">the resort<sup>&reg;</sup></div>
            <div class="belwe content-by"><span>By</span> <img src="https://www.thecoutureclub.com/cdn/shop/files/TCC_New.png?height=30&v=1671722688"></div>
          </div>
          <div class="content-container_copy">
            <span>'The Resort' is more than a destination, it's about the journey of escapism, serenity, and solstice.</span>
            <div class="mobile-video-toggle u-hidden@tab-up"><i class="icon icon--play"></i>Play Video</div>
          </div>
      </div>
      <div class="resort-cursor">Play Video</div>
      <div style="opacity: 0; visibility: hidden; z-index: 10;" class="resort-video" id="full-video">
          <video playsinline loop preload="none" src="https://cdn.shopify.com/videos/c/o/v/27e3c0a6e9f142219a65122280df230a.mp4"></video>
          <div class="video-close u-hidden@tab-up controls-overlay mob">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
          </div>
          <div class="controls-container">
            <div class="video-close u-hidden@tab-down controls-overlay desk">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </div>
            <div aria-play="true" class="video-play-pause controls-overlay">
              <div class="pause controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/></svg>
              </div>
              <div class="play controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M520-200v-560h240v560H520Zm-320 0v-560h240v560H200Zm400-80h80v-400h-80v400Zm-320 0h80v-400h-80v400Zm0-400v400-400Zm320 0v400-400Z"/></svg>
              </div>
            </div>
            <div aria-muted="false" class="video-mute-unmute controls-overlay">
              <div class="unmuted controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-131v-82q90-26 145-100t55-168q0-94-55-168T560-749v-82q124 28 202 125.5T840-481q0 127-78 224.5T560-131ZM120-360v-240h160l200-200v640L280-360H120Zm440 40v-322q47 22 73.5 66t26.5 96q0 51-26.5 94.5T560-320ZM400-606l-86 86H200v80h114l86 86v-252ZM300-480Z"/></svg>
              </div>
              <div class="muted controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M792-56 671-177q-25 16-53 27.5T560-131v-82q14-5 27.5-10t25.5-12L480-368v208L280-360H120v-240h128L56-792l56-56 736 736-56 56Zm-8-232-58-58q17-31 25.5-65t8.5-70q0-94-55-168T560-749v-82q124 28 202 125.5T840-481q0 53-14.5 102T784-288ZM650-422l-90-90v-130q47 22 73.5 66t26.5 96q0 15-2.5 29.5T650-422ZM480-592 376-696l104-104v208Zm-80 238v-94l-72-72H200v80h114l86 86Zm-36-130Z"/></svg>
              </div>
            </div>
            <div class="video-duration controls-overlay">
              <span class="duration-time"></span>
            </div>
          </div>
          
        </div>
    </div>
    <div aria-colour="brown" id="palette" class="container">
      <div class="backgrounds">
        <img active data-colour="brown" class="container-background" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/320985290-6b814943-5aaa-49a4-80d2-04d27035bcac.jpg?v=1712833743">
        <img data-colour="off-white" style="opacity:0;" class="container-background" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/320985296-05bc0633-439a-4ab5-a878-0a38ab4c6233.jpg?v=1712833743">
        <img data-colour="khaki" style="opacity:0;" class="container-background" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/320985282-8a536ea3-0dc3-41b3-ac8d-f11d2708fce6.jpg?v=1712833743">
        <img data-colour="dark-grey" style="opacity:0;" class="container-background" src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/320985274-208435b0-2623-499b-aa03-f90cc80925b2.jpg?v=1712833743">
      </div>
      <div class="palette-content">
        <div data-colour="brown"></div>
        <div data-colour="off-white"></div>
        <div data-colour="khaki"></div>
        <div data-colour="dark-grey"></div>
      </div>
      <div class="palette-copy">
        <div class="title">INTRODUCING SPRING SUMMER 2024</div>
        <div class="text">We chose Mykonos as our inspiration, as not only do we love the place – but also the lifestyle it encapsulates - both the evenings spent out, and the relaxed way of living it embodies.<br><br>Our vision was to capture this way of living though a collection that translates seamlessly from day to night, but also resonates with the rich neutral colour palette of the location.</div>
      </div>
    </div>
    <div id="bts" class="container">
      <div id="bts-video">
        <video class="short-video" playsinline autoplay muted loop src="https://cdn.shopify.com/videos/c/o/v/46c674ae1d5142f499eb0545d8a12881.mp4"></video>
        <div class="video-content">WATCH BTS VIDEO</div>
        <div style="opacity: 0; visibility: hidden; z-index: 10;" class="bts-video" id="full-video">
          <video playsinline loop preload="none" src="https://cdn.shopify.com/videos/c/o/v/abbb0eb2a87140d782782938c83e152a.mp4"></video>
          <div class="video-close u-hidden@tab-up controls-overlay mob">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
          </div>
          <div class="controls-container">
            <div class="video-close u-hidden@tab-down controls-overlay desk">
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
            </div>
            <div aria-play="true" class="video-play-pause controls-overlay">
              <div class="pause controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M320-200v-560l440 280-440 280Zm80-280Zm0 134 210-134-210-134v268Z"/></svg>
              </div>
              <div class="play controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M520-200v-560h240v560H520Zm-320 0v-560h240v560H200Zm400-80h80v-400h-80v400Zm-320 0h80v-400h-80v400Zm0-400v400-400Zm320 0v400-400Z"/></svg>
              </div>
            </div>
            <div aria-muted="false" class="video-mute-unmute controls-overlay">
              <div class="unmuted controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M560-131v-82q90-26 145-100t55-168q0-94-55-168T560-749v-82q124 28 202 125.5T840-481q0 127-78 224.5T560-131ZM120-360v-240h160l200-200v640L280-360H120Zm440 40v-322q47 22 73.5 66t26.5 96q0 51-26.5 94.5T560-320ZM400-606l-86 86H200v80h114l86 86v-252ZM300-480Z"/></svg>
              </div>
              <div class="muted controls-icon">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M792-56 671-177q-25 16-53 27.5T560-131v-82q14-5 27.5-10t25.5-12L480-368v208L280-360H120v-240h128L56-792l56-56 736 736-56 56Zm-8-232-58-58q17-31 25.5-65t8.5-70q0-94-55-168T560-749v-82q124 28 202 125.5T840-481q0 53-14.5 102T784-288ZM650-422l-90-90v-130q47 22 73.5 66t26.5 96q0 15-2.5 29.5T650-422ZM480-592 376-696l104-104v208Zm-80 238v-94l-72-72H200v80h114l86 86Zm-36-130Z"/></svg>
              </div>
            </div>
            <div class="video-duration controls-overlay">
              <span class="duration-time"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="bts-content_container">
        <div class="bts-content">
          <div class="instagram-container">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C5sv5IoII42/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/C5sv5IoII42/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/C5sv5IoII42/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by The Couture Club (@thecoutureclub)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
          </div>
          <div class="instagram-container">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C5c9mtZMYvk/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/C5c9mtZMYvk/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/C5c9mtZMYvk/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by Scott Shashua (@scottshashua)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
          </div>
          <div class="instagram-container">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/C5WVXGFouTn/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/p/C5WVXGFouTn/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">View this post on Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/C5WVXGFouTn/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A post shared by RW (@rossworswick)</a></p></div></blockquote> <script async src="//www.instagram.com/embed.js"></script>
          </div>
        </div>
      </div>
    </div>
    <div id="images" class="container">

      <section id="drop-1" class="images-landing">
        <div class="images-landing_content">
          <span class="landing-date">WEDNESDAY, APRIL 17TH</span>
          <span class="landing-drop">SPRING SUMMER DROP 1</span>
        </div>
        <span class="landing-locations">
          <span>LONDON 7PM</span>
          <span class="u-hidden@tab-down">//</span>
          <span>AMSTERDAM 8PM</span>
          <span class="u-hidden@tab-down">//</span>
          <span>LOS ANGELES 11AM</span>
          <span class="u-hidden@tab-down">//</span>
          <span>SYDNEY 7AM</span>
        </span>
      </section>

      <section id="drop-1-content" class="splide">
        <div class="splide__track">
          <div class="splide__list">
                
                    <a href="/products/emblem-knitted-crew-off-white" class="splide__slide">
                      <div class="slide_content">
                        <span>Lightweight Knitted Twinset - Off-White</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Lightweight-knitted-twinset-off-white.jpg?v=1712913135">
                      </div>
                    </a>
                    <a href="/products/emblem-crop-ruched-sweatshirt-grey-marl" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/embossed-cropped-twinset-grey-marl.jpg?v=1712913798">
                        <span>Embossed Cropped Twinset - Grey Marl</span>
                      </div>
                    </a>
                    <a href="/products/script-jersey-baseball-shirt-off-white" class="splide__slide">
                      <div class="slide_content">
                        <span>Baseball Shirt - White / Smart Pant - Black</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Baseball-Shirt-White_Smart-Pant-Black.jpg?v=1712913135">
                      </div>
                    </a>
                    <a href="/products/emblem-knitted-crew-off-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/lightweight-knit-twinset-off-white.jpg?v=1712913798">
                        <span>Lightweight Knit Twinset - Off-White</span>
                      </div>
                    </a>
                    <a href="/products/raw-seam-zip-through-hoodie-stone" class="splide__slide">
                      <div class="slide_content">
                        <span>Raw Seam Twinset - Stone</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Raw-Seam-Twinset---Stone.jpg?v=1712913134">
                      </div>
                    </a>
                    <a href="/products/sculpting-stretch-emblem-contrast-piping-unitard-black" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Sculpting-stretch-unitard-black.jpg?v=1712913798">
                        <span>Sculpting Stretch Unitard - Black</span>
                      </div>
                    </a>
                    <a href="/products/nylon-zip-through-utility-shirt-coffee" class="splide__slide">
                      <div class="slide_content">
                        <span>Nylon Twinset - Mocha</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Nylon-twinset-mocha.jpg?v=1712913134">
                      </div>
                    </a>
                    <a href="/products/short-sleeve-fitted-unitard-black" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/emblem-sculpt-unitard-black.jpg?v=1712913797">
                        <span>Emblem Sculpt Unitard - Black</span>
                      </div>
                    </a>
                    <a href="/products/script-jersey-baseball-shirt-off-white" class="splide__slide">
                      <div class="slide_content">
                        <span>Baseball Shirt - White</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Baseball-shirt-white.jpg?v=1712913135">
                      </div>
                    </a>
                    <a href="/products/washed-emblem-oversized-t-shirt-light-grey" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Washed_emblem-twinset-grey.jpg?v=1712913797">
                        <span>Washed Emblem Twinset - Grey</span>
                      </div>
                    </a>
                    <a href="/products/airtex-panelled-shorts-mocha" class="splide__slide">
                      <div class="slide_content">
                        <span>Airtex Mesh Short - Brown</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Airtex_mesh-short-brown.jpg?v=1712913134">
                      </div>
                    </a>
                    <a href="/products/emblem-embossed-oversized-crew-off-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/embossed-twinset-white.jpg?v=1712913796">
                        <span>Embossed Twinset - White</span>
                      </div>
                    </a>
                    <a href="/products/nylon-zip-through-utility-shirt-black" class="splide__slide">
                      <div class="slide_content">
                        <span>Nylon Twinset - Black</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Nylon-twinset-black.jpg?v=1712913134">
                      </div>
                    </a>
                    <a href="/products/short-sleeve-fitted-unitard-grey-marl" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Emblem-sculpt-unitard-grey-marl.jpg?v=1712913795">
                        <span>Emblem Sculpt Unitard - Grey Marl</span>
                      </div>
                    </a>
                    <a href="/products/camo-cargo-shorts-khaki" class="splide__slide">
                      <div class="slide_content">
                        <span>Script Tee - White / Camo Cargo-Short - Green</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Script-Tee-White_Camo-Cargo-Short-Green.jpg?v=1712913134">
                      </div>
                    </a>
                    <a href="/products/emblem-embossed-oversized-crew-blue" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Embossed-twinset-blue.jpg?v=1712913794">
                        <span>Embossed Twinset - Blue</span>
                      </div>
                    </a>
                    <a href="/products/script-jersey-baseball-shirt-coffee" class="splide__slide">
                      <div class="slide_content">
                        <span>Baseball Shirt - Mocha</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Baseball-Shirt-Mocha.jpg?v=1712913134">
                      </div>
                    </a>
                    <a href="/products/emblem-tote-bag-off-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Emblem-tote-bag-off-white.jpg?v=1712913794">
                        <span>Emblem Tote Bag - Off-White</span>
                      </div>
                    </a>
              </div>
        </div>
      </section>

      <section id="drop-2" class="images-landing">
        <div class="images-landing_content">
          <span class="landing-date">WEDNESDAY, MAY 1ST</span>
          <span class="landing-drop">SPRING SUMMER DROP 2</span>
        </div>
        <span class="landing-locations">
          <span>LONDON 7PM</span>
          <span class="u-hidden@tab-down">//</span>
          <span>AMSTERDAM 8PM</span>
          <span class="u-hidden@tab-down">//</span>
          <span>LOS ANGELES 11AM</span>
          <span class="u-hidden@tab-down">//</span>
          <span>SYDNEY 7AM</span>
        </span>
      </section>

      <section id="drop-2-content" class="splide">
        <div class="splide__track">
              <div class="splide__list">
                    <a href="/products/knitted-checkerboard-shirt-grey" class="splide__slide">
                      <div class="slide_content">
                        <span>Checkerboard Knit - Grey</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/checkerboard-knit-grey.jpg?v=1712910062">
                      </div>
                    </a>
                    <a href="/products/emblem-oversized-knit-cardigan-stone" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Lightweight-knit-emblem-cardigan-biege.jpg?v=1712910607">
                        <span>Knit Emblem Cardigan - Stone</span>
                      </div>
                    </a>
                    <a href="/products/knitted-checkerboard-shirt-off-white" class="splide__slide">
                      <div class="slide_content">
                        <span>Checkerboard Knit - Beiege</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/checkerboard-knit-biege.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/products/knitted-vest-top-beige" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Knit-crochet-twinset-mocha.jpg?v=1712910606">
                        <span>Knit Crochet Twinset - Mocha</span>
                      </div>
                    </a>
                    <a href="/products/palm-print-embroidery-shirt-white-1" class="splide__slide">
                      <div class="slide_content">
                        <span>Palm Print Shirt - White</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/abstract-shirt-white.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/products/oversized-jersey-cardigan-off-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/oversized-cardigan-track-off-white.jpg?v=1712910606">
                        <span>Oversized Cardigan Track - Off-White</span>
                      </div>
                    </a>
                    <a href="/products/summer-tour-t-shirt-coffee" class="splide__slide">
                      <div class="slide_content">
                        <span>Summer Tour T-Shirt - Brown</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Season-2024-destination-tee-brown.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/products/emblem-oversized-knit-cardigan-stone" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Lightweight-knit-emblem-jumper-biege_02.jpg?v=1712910606">
                        <span> Knit Emblem Cardigan - Stone</span>
                      </div>
                    </a>
                    <a href="/products/rib-textured-short-sleeve-shirt-brown" class="splide__slide">
                      <div class="slide_content">
                        <span>Rib Textured Short Sleeve Shirt - Brown</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Smart-revere-twinset-brown.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/products/cropped-knitted-shirt-black" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Knit-crochet-twinset-black.jpg?v=1712910605">
                        <span>Cropped Knitted Shirt - Black</span>
                      </div>
                    </a>
                    <a href="/products/palm-print-embroidery-shirt-white-1" class="splide__slide">
                      <div class="slide_content">
                        <span>Palm Print Shirt - White</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/abstract-shirt-white_02.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/products/palm-print-embroidery-shirt-black" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Palm-Silk-cropped-twinset-black.jpg?v=1712910605">
                        <span>Palm Print Embroidery Shirt - Black</span>
                      </div>
                    </a>
                    <a href="/products/palm-print-embroidery-shirt-beige" class="splide__slide">
                      <div class="slide_content">
                        <span>Palm Print Embroidery Shirt - Beige</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Silk-abstract-shirt-biege.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/knitted-flute-sleeve-dress-off-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Beach-dress-biege.jpg?v=1712910604">
                        <span>Knitted Flute Sleeve Dress - Off-White</span>
                      </div>
                    </a>
                    <a href="" class="splide__slide">
                      <div class="slide_content">
                        <span>Emblem Swim Shorts - Black</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/emblem-swim-shorts-black.jpg?v=1712910061">
                      </div>
                    </a>
                    <a href="/products/palm-print-embroidery-shirt-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Palm-Silk-cropped-twinset-white_02.jpg?v=1712910604">
                        <span>Palm Silk Cropped Twinset - White</span>
                      </div>
                    </a>
                    <a href="/products/rib-textured-short-sleeve-shirt-black" class="splide__slide">
                      <div class="slide_content">
                        <span>Smart Revere Twinset - Black</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Smart-revere-twinset-black.jpg?v=1712910060">
                      </div>
                    </a>
                    <a href="/products/emblem-oversized-knit-vest-stone" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Lightweight-knit-emblem-jumper-biege.jpg?v=1712910604">
                        <span>Lightweight Knit Emblem Jumper - Biege</span>
                      </div>
                    </a>
                    <a href="/products/5-panel-nylon-emblem-cap-brown" class="splide__slide">
                      <div class="slide_content">
                        <span>Emblem Trucker - Brown</span>
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/emblem-trucker-brown.jpg?v=1712910060">
                      </div>
                    </a>
                    <a href="/products/palm-print-embroidery-shirt-white" class="splide__slide">
                      <div class="slide_content">
                        <img src="https://cdn.shopify.com/s/files/1/0242/6047/6980/files/Palm-Silk-cropped-twinset-white.jpg?v=1712910604">
                        <span>Palm Silk Cropped Twinset - White</span>
                      </div>
                    </div>

              </div>
        </div>
      </section>

    </div>
</div>

<style>
    #tapcart-web-banner, #launcher {
      display: none;
    }
    @font-face {
      font-family: "Belwe";
      src: url("{{ 'BelweBT-Bold.otf' | asset_url }}") format("opentype");
    }
    .content-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .belwe {
      font-family: 'Belwe';
      line-height: 1;
      letter-spacing: -6px;
    }
    .js-section__announcement {
      display: none;
    }
    #lookbook {
      position: absolute;
      top: 0px;
      height: 100vh !important;
      max-height: 100vh !important;
      width: 100%;
      overflow: hidden;

      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
    }
    #lookbook img {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }
    #lookbook .container {
      height: 100dvh !important;
      width: 100%;
      padding: 0px;
      overflow: hidden;
      position: absolute;
    }

    #lookbook .container#images {
      transition: 0.2s;
      height: 100dvh !important;
      max-height: 100dvh !important;
    }
    .container-background {
      height: 100%;
      width: 100%;
      padding: 0px;
      overflow: hidden;
      object-fit: cover;
    }
    footer {
        display: none;
    }

    .controls-container {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    .video-play-pause svg {
      position: absolute;
      width: 15%;
    }
    .video-play-pause[aria-play="false"] .play {
      display: none;
    }
    .video-play-pause[aria-play="true"] .pause {
      display: none;
    }
    .video-mute-unmute[aria-muted="false"] .muted {
      display: none;
    }
    .video-mute-unmute[aria-muted="true"] .unmuted {
      display: none;
    }
    .controls-overlay {
      background: #cecbc1;
      cursor: pointer;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
    }
    .video-close.u-hidden\@tab-up {
      position: absolute;
      top: 50px;
      right: 5%;
    }
    .controls-icon {
      display: contents;
      height: 24px;
      width: 24px;
    }
    .video-duration {
      width: 100px;
      border-radius: 50px;
    }

    /* THE RESORT */

    #the-resort {
      background: black;
      z-index: 4;
    }

    #the-resort:hover {
      cursor: none;
    }

    #the-resort .resort-cursor {
      visibility: hidden;
      z-index: 10;
      position: absolute;
      top: 0px;
      height: 100px;
      width: 100px;
      background: #00000059;
      border-radius: 50%;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }
    #the-resort .resort-video {
      height: 100%;
      width: 100%;
      z-index: 10;
      position: absolute;
      top: 0px;
      cursor: auto;
    }
    #the-resort .resort-video video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    #the-resort:hover .resort-cursor {
      visibility: visible;
    }

    #the-resort .content-container {
      max-width: 500px;
    }

    #the-resort .container-background  {
      opacity: 1;
    }

    #the-resort .content-container_head { 
      display: flex;
      flex-direction: column;
    }

    #the-resort .content-container_copy {
      display: flex;
      flex-direction: column;
      position: absolute;
      font-size: 15px;
      line-height: 1.5;
      color: white;
      text-align: center;
      padding-top: 20px;
    }

    #the-resort .mobile-video-toggle {
      opacity: 0;
      display: flex;
      width: 50%;
      height: 50px;
      align-self: center;
      margin-top: 15px;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border-radius: 10px;
      background: #00000059;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    #the-resort .title {
      color: white;
      font-size: 110px;
      white-space: nowrap;
    }
    #the-resort .content-by {
      display: flex;
      opacity: 0;
      justify-content: end;
      gap: 10px;
      align-items: center;
      color: white;
      font-size: 20px;
      letter-spacing: 0px;
    }
    #the-resort sup {
      padding-left: 10px;
      top: -2.5em;
      font-size: 20%;
      letter-spacing: 0;
    }
    #the-resort .content-by img {
      height: 14px;
      filter: invert(1);
    }

    @media screen and (max-width: 768px) {
      #the-resort .title {
        font-size: 80px;
      }
      #the-resort .resort-cursor {
        display: none;
      }
      #the-resort #full-video {
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
      }
      #the-resort #full-video video {
        object-fit: contain;
        padding: 5%;
      }
    }

    /* palette */

    #palette {
      z-index: 3;
    }

    #palette .container-background {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }

    #palette .container-background[active] {
      z-index: 2;
    }

    #palette .palette-content {
      z-index: 3;
      position: absolute;
      width: 200px;
      max-width: 90%;
      right: 50px;
      top: 50px;
      gap: 5px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #palette .palette-copy {
      font-family: 'Work Sans Family';
      z-index: 3;
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 700px;
      max-width: 80%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      transition: 0.2s;
      transition-delay: 0.2s;
    }
    #palette[aria-colour=off-white] .palette-copy {
      color: black;
    }

    #palette .palette-copy .title {
      font-size: 30px;
      text-align: center;
      font-weight: 500;
    }

    #palette .palette-copy .text {
      font-size: 20px;
      line-height: 2;
    }


    #palette .palette-content [data-colour] {
      padding-top: 100%;
      cursor: pointer;
    }

    #palette .palette-content [data-colour="brown"] {
      background: #776c58;
    }
    #palette .palette-content [data-colour="off-white"] {
      background: #c8cbc4;
    }
    #palette .palette-content [data-colour="khaki"] {
      background: #647259;
    }
    #palette .palette-content [data-colour="dark-grey"] {
      background: #484846;
    }

    @media screen and (max-width: 768px) {
      #palette .palette-copy .title {
        font-size: 30px;
        line-height: 1;
      }
      #palette .palette-copy .text {
        font-size: 15px;
        line-height: 1.5;
      }
      #palette .palette-content {
        left: 50%;
        right: auto;
        transform: translate(-50%, 0px);
      }
    }

    /* Lookbook Images */

    #images {
      position: relative;
      background: #cecbc1;
      z-index: 1;
    }

    #images .images-landing {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    #images #drop-2, #images #drop-2-content {
      opacity: 0;
      visibility: hidden;
    }

    #images .images-landing_content {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      width: 90%;
      line-height: 1;
      white-space: nowrap;
      max-width: 80%;
      align-items: center;
      font-family: "Work Sans Family";
    }

    #images .landing-date {
      font-weight: 300;
    }

    #images .landing-drop {
      font-weight: 200;
    }

    #images .landing-locations {
      position: absolute;
      top: 90%;
      left: 50%;
      width: 70%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      font-size: 14px;
    }

    #images .splide {
      width: 100%;
      top: 50%;
      transform: translate(0px, -50%);
      position: absolute;
      opacity: 0%;
    }

    #images .splide img {
      max-width:100%;
      max-height:100%;
    }

    #images .splide__track {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    
    #images .splide__slide {
      padding: 50px 10px;
      width: 40vh !important;
      
    }

    #images .slide_content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 10px;
    }

    #images .splide__slide:nth-child(odd) {
      padding-bottom: 0px;
    }

    #images .splide__slide:nth-child(even) {
      padding-top: 0px;
    }

    @media screen and (max-width: 768px) {
      #images .images-landing_content {
        font-size: 25px;
        top: 43%;
      }

      #images .landing-locations {
        font-size: 12px;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        bottom: 34%;
        top: auto;
      }
      #images .splide {
        height: auto;
      }
      #images .splide {
        height: auto;
      }
      #images .splide__slide {
        width: 75% !important;
      }
      #images .slide_content {
      font-size: 9px;
      letter-spacing: 1px;
    }
    }

    /* BTS */
    #bts {
      opacity: 0;
      visibility: hidden;
      z-index: 2;
    }
    #bts iframe {
      min-width: inherit !important;
      height: 100%;
    }
    #bts .instagram-container {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    #bts #bts-video {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100dvh;
      height: 100vh;
      object-fit: cover;
    }
    #bts video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #bts #full-video video {
      background: black;
    }
    #bts .video-content {
      position: absolute;
      display: flex;
      font-size: 50px;
      height: 100%;
      width: 100%;
      font-weight: 300;
      top: 0;
      align-content: center;
      color: white;
      text-align: center;
      line-height: 1;
      white-space: nowrap;
      align-items: center;
      font-family: "Work Sans Family";
      cursor: pointer;
      justify-content: center;
    }
    #bts .bts-content_container {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0%;
      top: 0%;
      display: flex;
      align-items: center;
      background: #cdcbc1;
      transform: translateX(100%);
    }
    #bts #full-video {
      position: fixed;
      top: 0px;
      width: 100%;
      height: 100dvh;
      height: 100vh;
      z-index: 10;
    }

    #bts .bts-content {
      white-space: nowrap;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      justify-content: space-evenly;
      padding: 0% 5%;
      gap: 5%;
      height: 80%;
    }

    @media screen and (max-width: 768px) {
      #bts .bts-content_container {
        width: 300%;
      }
      #bts .bts-content {
        padding: 3%;
        gap: 3%;
        overflow: scroll;
      }
      #bts #full-video {
        padding: 5%;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
      }
      #bts #full-video video {
        background: none;
        object-fit: contain;
      }
      #bts .video-content {
        font-size: 25px;
      }
    }

    @media screen and (max-width: 768px) {
    #lookbook {
      height: 100dvh !important;
      max-height: 100dvh !important;
    }
    .password-content {
      height: 100dvh !important;
    }
  }


</style>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/TextPlugin.min.js"></script>

<!-- The following plugins are only available for Club GSAP members.--> 
<script src="{{ 'ScrollSmoother.min.js' | asset_url }}"></script>
<script src="{{ 'SplitText.min.js' | asset_url }}"></script>

<script>


document.addEventListener("DOMContentLoaded", (event) => {

  var containers = document.querySelectorAll('.container')

  containers.forEach((container) => {
    container.style.height = window.innerHeight + 'px'
  });

  gsap.registerPlugin(ScrollTrigger,TextPlugin,ScrollSmoother,SplitText);


  var videos = document.querySelectorAll('#full-video');

  videos.forEach((video) => {

    var vid = video.querySelector('video');
    var playPause = video.querySelector('.video-play-pause');

    playPause.addEventListener('click', () => {
     if(vid.paused) {
      playPause.setAttribute('aria-play', 'true')
      vid.play();
     } else {
      vid.pause();
      playPause.setAttribute('aria-play', 'false')
     }
    });

    var muteUnmute = video.querySelector('.video-mute-unmute');

    muteUnmute.addEventListener('click', () => {
     if(vid.muted) {
      muteUnmute.setAttribute('aria-muted', 'false')
      vid.muted = false;
     } else {
      muteUnmute.setAttribute('aria-muted', 'true')
      vid.muted = true;
     }
    });



  });

  // THE RESORT

  const cursor = document.querySelector('.resort-cursor');


  const positionElement = (e)=> {
    const mouseY = e.clientY;
    const mouseX = e.clientX;

    cursor.style.transform = `translate3d(${mouseX}px, ${mouseY}px, 0) translate(-50%, -50%)`;

  }

  document.getElementById('the-resort').addEventListener('mousemove', positionElement);

  var resortVideoContainer = document.querySelector('.resort-video#full-video');
  var docElement = document.querySelector('html');
  var run

  document.querySelector('#the-resort .resort-cursor').addEventListener('click', function () {
    gsap.to(resortVideoContainer, {
          autoAlpha: 1,
          duration: 0.5
        }),
        gsap.to('.js-section__header', {
          autoAlpha: 0,
          duration: 0.5
        })
        var run = setInterval(function () { videoDuration(resortVideoContainer); }, 10);
        docElement.classList.add("no-scroll");
        resortVideoContainer.querySelector('video').play();
  });

  document.querySelector('#the-resort .mobile-video-toggle').addEventListener('click', function () {
    gsap.to(resortVideoContainer, {
          autoAlpha: 1,
          duration: 0.5
        }),
        gsap.to('.js-section__header', {
          autoAlpha: 0,
          duration: 0.5
        })
        var run = setInterval(function () { videoDuration(resortVideoContainer); }, 10);
        docElement.classList.add("no-scroll");
        resortVideoContainer.querySelector('video').play();
  });

  document.querySelector('.resort-video .video-close.desk').addEventListener('click', function () {
    gsap.to(resortVideoContainer, {
          autoAlpha: 0,
          duration: 0.5,
          onComplete: function() {
            document.querySelector('#the-resort .video-play-pause').setAttribute('aria-play', 'true');
          }
        }),
        gsap.to('.js-section__header', {
          autoAlpha: 1,
          duration: 0.5
        })
      
        clearTimeout(run);
        docElement.classList.remove("no-scroll");
        resortVideoContainer.querySelector('video').pause();
  });

  document.querySelector('.resort-video .video-close.mob').addEventListener('click', function () {
    gsap.to(resortVideoContainer, {
          autoAlpha: 0,
          duration: 0.5,
          onComplete: function() {
            document.querySelector('#the-resort .video-play-pause').setAttribute('aria-play', 'true');
          }
        }),
        gsap.to('.js-section__header', {
          autoAlpha: 1,
          duration: 0.5
        })
      
        clearTimeout(run);
        docElement.classList.remove("no-scroll");
        resortVideoContainer.querySelector('video').pause();
  });

  document.querySelector('.resort-video video').addEventListener("fullscreenchange", (event) => {
      if (document.fullscreenElement) {
      alert(
        `Element: ${document.fullscreenElement.id} entered fullscreen mode.`,
      );
    } else {
      alert("Leaving fullscreen mode.");
    }
  });

  var mySplitText = new SplitText("#the-resort .title", {type:"chars, words"}),
    tl = new TimelineLite(),
    numChars = mySplitText.chars.length;

  for(var i = 0; i < numChars; i++){
    tl.from(mySplitText.chars[i], 2, {opacity:0}, Math.random() * 1);
  }

  var mySplitText = new SplitText("#the-resort .content-container_copy span", {type:"chars, words"}),
  tl = new TimelineLite(),
  numChars = mySplitText.chars.length;

for(var i = 0; i < numChars; i++){
  tl.from(mySplitText.chars[i], 2, {opacity:0, delay: 3}, Math.random() * 1);
}


  gsap.to(".mobile-video-toggle", {
    opacity: 1,
    ease: "none",
    delay: 5,
    duration: 1
  });

  gsap.to(".content-by", {
    opacity: 1,
    ease: "none",
    delay: 2,
    duration: 1
  });

  gsap.to("#the-resort .container-background", {
    opacity: 0.8,
    ease: "none",
    duration: 3
  });


  // palette

  const palette = document.querySelectorAll('.palette-content [data-colour]');
  
  palette.forEach(colour => {
    colour.addEventListener('click', function () {
      var clickBackground = document.querySelector("img[data-colour='" + colour.getAttribute('data-colour'));
      console.log(clickBackground)
      if (clickBackground.hasAttribute('active') == false) {
        gsap.to(clickBackground, .2, {
          autoAlpha: 1,
          duration: 0.2,
        })
        gsap.to("img[active]", .2, {
          autoAlpha: 0,
          duration: 0.2,
          delay: 0.3,
        })
        document.getElementById('palette').setAttribute('aria-colour', clickBackground.getAttribute('data-colour'))
        document.querySelector('img[active]').removeAttribute('active');
        clickBackground.setAttribute('active', '');
      }
    });
  })

  // BTS

  var videoContainer = document.querySelector('.bts-video#full-video');
  var docElement = document.querySelector('html');

  document.querySelector('#bts .video-content').addEventListener('click', function () {
    gsap.to(videoContainer, {
          autoAlpha: 1,
          duration: 0.2
        })
        var run = setInterval(function () { videoDuration(videoContainer); }, 10);
        document.querySelector('#bts .short-video').pause();
        docElement.classList.add("no-scroll");
        videoContainer.querySelector('video').play();
  });

  document.querySelector('#bts .bts-video .video-close.desk').addEventListener('click', function () {
    gsap.to(videoContainer, {
          autoAlpha: 0,
          duration: 0.2,
          onComplete: function() {
            document.querySelector('#bts .video-play-pause').setAttribute('aria-play', 'true')
          }
        })
        clearTimeout(run);
        document.querySelector('#bts .short-video').play();
        docElement.classList.remove("no-scroll");
        videoContainer.querySelector('video').pause();
  });

  document.querySelector('#bts .bts-video .video-close.mob').addEventListener('click', function () {
    gsap.to(videoContainer, {
          autoAlpha: 0,
          duration: 0.2,
          onComplete: function() {
            document.querySelector('#bts .video-play-pause').setAttribute('aria-play', 'true')
          }
        })
        clearTimeout(run);
        document.querySelector('#bts .short-video').play();
        docElement.classList.remove("no-scroll");
        videoContainer.querySelector('video').pause();
  });


  // TIMELINE



  const images = gsap.timeline({
    scrollTrigger:{
      invalidateOnRefresh: true,
      trigger: "#lookbook",
      pin: true,
      start: "top top",
      end: "bottom -1000%",
      scrub: 1,
      ease: "none",
      onEnter: function() {
          console.log("ScrollTrigger initialized");
          
          var elms = document.getElementsByClassName( 'splide' );

          for ( var i = 0; i < elms.length; i++ ) {
            new Splide(elms[ i ] , {
              arrows: false,
              pagination: false,
              type   : 'loop',
              drag   : 'free',
              autoScroll: {
                pauseOnHover: false,
                speed: 0.5,
              },
            }).mount( window.splide.Extensions );
          }

        }
    }
  });

  images.to("#the-resort",{
    autoAlpha: 0,
    duration: 4,
    delay: 8
  }),
  images.to("#palette",{
    autoAlpha: 0,
    duration: 4,
    delay: 8,
  })
  images.to("#drop-1",{
    autoAlpha: 0,
    duration: 4,
    delay: 8,
  }),
  images.to("#drop-1-content",{
    autoAlpha: 1,
    duration: 4,
  }),
  images.to("#drop-1-content",{
    autoAlpha: 0,
    duration: 4,
    delay: 8,
  }),
  images.to("#drop-2",{
    autoAlpha: 1,
    duration: 4,
  }),
  images.to("#drop-2",{
    autoAlpha: 0,
    duration: 4,
    delay: 4,
  }),
  images.to("#drop-2-content",{
    autoAlpha: 1,
    duration: 10,
  }),
  images.to("#bts",{
    autoAlpha: 1,
    duration: 0,
    delay: 8,
  }),
  images.to("#bts #bts-video",{
    top: 0,
    duration: 12
  })

  var percent = (200 - ((window.innerWidth / document.querySelector("#bts .bts-content_container").offsetWidth ) * 100 ));
  console.log(percent);
  

  images.to("#bts .bts-content_container",{
    xPercent: - + percent,
    duration: 30
  })


  function videoDuration(video) {
    elemVideo = video.querySelector('video')
    video.querySelector('.duration-time').innerHTML = "- " + (elemVideo.duration - elemVideo.currentTime).toFixed(2);
  }
  
  
});


</script>

{% schema %}
    {
      "name": "Lookbook",
      "settings": [],
      "presets": [
        {
            "name": "Lookbook"
        }
      ]
    }
{% endschema %} 