<script src="{{ 'anniversary-coming_soon.js' | asset_url }}" defer="defer"></script>
<link href="{{ 'anniversary-coming_soon.css' | asset_url }}" rel="stylesheet">

<script src="{{ 'gsap.min.js' | asset_url }}"></script>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>

<section>
  {% for block in section.blocks %}
    <div class="column" id="col{{forloop.index}}">
      <div class="content">
        {% assign imgCount = 0 |  plus: 0 %}
        {% assign id = imgCount | prepend: 'image_' %}
        {% if block.settings.image_1 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_1 %}
        {% endif %}
        {% if block.settings.image_2 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_2 %}
        {% endif %}
        {% if block.settings.image_3 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_3 %}
        {% endif %}
        {% if block.settings.image_4 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_4 %}
        {% endif %}
        {% if block.settings.image_5 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_5 %}
        {% endif %}
        {% if block.settings.image_6 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_6 %}
        {% endif %}
        {% if block.settings.image_7 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_7 %}
        {% endif %}
        {% if block.settings.image_8 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_8 %}
        {% endif %}
        {% if block.settings.image_9 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_9 %}
        {% endif %}
        {% if block.settings.image_10 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_10 %}
        {% endif %}
        {% if block.settings.image_11 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_11 %}
        {% endif %}
        {% if block.settings.image_12 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_12 %}
        {% endif %}
        {% if block.settings.image_13 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_13 %}
        {% endif %}
        {% if block.settings.image_14 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_14 %}
        {% endif %}
        {% if block.settings.image_15 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_15 %}
        {% endif %}
        {% if block.settings.image_16 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_16 %}
        {% endif %}
        {% if block.settings.image_17 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_17 %}
        {% endif %}
        {% if block.settings.image_18 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_18 %}
        {% endif %}
        {% if block.settings.image_19 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_19 %}
        {% endif %}
        {% if block.settings.image_20 != null %}
          {% render 'page_lookbook_image', image: block.settings.image_20 %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

<style>
  .lookbook-template {
  padding: 0 !important;
}

.lookbook-template .box {
  cursor: pointer;
}

.lookbook-template [data-product] {
  transition: 1s;
}

.lookbook-template [data-product]:hover img {
  scale: 1.05;
}

.lookbook-template section {
  display: flex;
  min-height: 500vh; /* Tall so we have scroll space */
  overflow: hidden;
}


.lookbook-template .column {
  flex: 1;
  overflow: hidden;
}

.lookbook-template .content {
  display: flex;
  flex-direction: column;
}

.lookbook-template .product-card {
  margin: 0 !important;
}

.lookbook-template .product-card__img.product-card__img {
  object-fit: cover;
}

.lookbook-template .product-card__details, .lookbook-template form {
  display: none !important;
}
</style>

<script>


var contents = document.querySelectorAll('.content');
var scrollContainer = document.querySelector('.lookbook-template section');
var scrollHeader = document.querySelector('header');
let tallest = null;
let maxHeight = 0;

contents.forEach(content => {
  const h = content.offsetHeight;
  if (h > maxHeight) {
    maxHeight = h;
    tallest = content;
  }
});

gsap.registerPlugin(ScrollTrigger);

contents.forEach(content => {
  const h = content.offsetHeight;
  gsap.to(content, {
    y: (scrollContainer.offsetHeight - h),
    ease: "none",
    scrollTrigger: {
      trigger: "section",
      start: "top " + scrollHeader.offsetHeight,
      end: "bottom bottom",
      scrub: true
    }
  });
});

</script>


{% schema %}
  {
    "name": "Lookbook",
	"class": "lookbook-template",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Title"
      }
    ],
	"blocks": [
		{
          "type": "list",
          "name": "List",
		  "settings": [
            {
              "type": "image_picker",
              "id": "image_1",
              "label": "Image 1"
            },
            {
              "type": "image_picker",
              "id": "image_2",
              "label": "Image 2"
            },
            {
              "type": "image_picker",
              "id": "image_3",
              "label": "Image 3"
            },
            {
              "type": "image_picker",
              "id": "image_4",
              "label": "Image 4"
            },
            {
              "type": "image_picker",
              "id": "image_5",
              "label": "Image 5"
            },
            {
              "type": "image_picker",
              "id": "image_6",
              "label": "Image 6"
            },
            {
              "type": "image_picker",
              "id": "image_7",
              "label": "Image 7"
            },
            {
              "type": "image_picker",
              "id": "image_8",
              "label": "Image 8"
            },
            {
              "type": "image_picker",
              "id": "image_9",
              "label": "Image 9"
            },
            {
              "type": "image_picker",
              "id": "image_10",
              "label": "Image 10"
            },
            {
              "type": "image_picker",
              "id": "image_11",
              "label": "Image 11"
            },
            {
              "type": "image_picker",
              "id": "image_12",
              "label": "Image 12"
            },
            {
              "type": "image_picker",
              "id": "image_13",
              "label": "Image 13"
            },
            {
              "type": "image_picker",
              "id": "image_14",
              "label": "Image 14"
            },
            {
              "type": "image_picker",
              "id": "image_15",
              "label": "Image 15"
            },
            {
              "type": "image_picker",
              "id": "image_16",
              "label": "Image 16"
            },
            {
              "type": "image_picker",
              "id": "image_17",
              "label": "Image 17"
            },
            {
              "type": "image_picker",
              "id": "image_18",
              "label": "Image 18"
            },
            {
              "type": "image_picker",
              "id": "image_19",
              "label": "Image 19"
            },
            {
              "type": "image_picker",
              "id": "image_20",
              "label": "Image 20"
            },
		  ]
		}
	],
    "presets": [
            {
                "name": "Lookbook"
            }
        ]
  }
{% endschema %}