<div class="students-page__form_sec">
    <script type="text/javascript">(function(){try{var a=addEventListener,b=function(){};a&&a("touchstart",b);a&&a("touchmove",b); a&&a("touchend",b)}catch(e){}}());</script>
    <iframe style="width: 100%; max-width: 100%; border: 0px; height: calc(100dvh - 104px);" src="https://www.myunidays.com/partners/thecoutureclub/embedded/online"></iframe>
</div>

<style>

iframe #sheet {
    background-size: cover;
}
    <!--
.section__title section__title--center {
display: none;
}
.container,.container--tiny {
max-width: 9999px !important}
--></style> 

{% schema %}
    {
      "name": "Student Discount (iframe)",
      "settings": [],
      "presets": [
      {
          "name": "Student Discount (iframe)"
      }
      ]
    }
  {% endschema %}