#anniversary-bts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 !important;
}

@media screen and (min-width: 768px) {
    #anniversary-bts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}