@import "https://unpkg.com/normalize.css";

* {
  box-sizing: border-box;
}
:root {
  --page-count: 20;
  --page-scroll: 25;
  --underline: rgba(64, 64, 64, 0.4);
  --spine: #000;
  --cover: #1a1a1a;
  --bg: #ffffff;
  --insert: #e9e9e7;
  --page: #e9e9e7;
}
h1 {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin: 0;
  font-size: 2rem;
  color: #808080;
  font-family: "Google sans", sans-serif;
}
body {
  width: 100vw;
  height: calc(((var(--page-count) + 2) * var(--page-scroll)) * 1vh);
  background: var(--bg);
  overflow-x: hidden;
}
book .page {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
book .page .page__number {
  position: absolute;
  color: #808080;
  bottom: 1rem;
  font-size: 1vmin;
}
book .page__half--front .page__number {
  right: 1rem;
}
book .page__half--back .page__number {
  left: 1rem;
}
book .page__half {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--rotation) * 1deg))
    translate3d(0, 0, calc((0.5 * var(--coefficient)) * 1px));
  -webkit-clip-path: inset(0 0.5% 0 0.5%);
  clip-path: inset(0 0.5% 0 0.5%);
}
book .page__half--front {
  --rotation: 0;
  --coefficient: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
book .page__half--back {
  --rotation: 180;
  --coefficient: 2;
}
book .book {
  height: 90vmin;
  position: fixed;
  width: 67.5vmin;
  min-width: 150px;
  min-height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transform-style: preserve-3d;
  perspective: 1200px;
}
book .book__insert {
  content: "";
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
  background: var(--insert);
  top: 50%;
  right: -1rem;
  transform: translate(0, -50%);
}
book .book__spine {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: var(--spine);
  transform-origin: 0 50%;
  width: 12px;
  transform: translate3d(0, 0, -13px) scaleX(1) rotateY(0deg);
}
book .book__page {
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translate(0, -50%);
  height: 100%;
  width: 100%;
  z-index: calc(((var(--page-count) + 2) - var(--page-index)) * 2);
  transform-origin: 0% 50%;
}
book .book__cover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--cover);
}
book .book__cover--front {
  transform-origin: 0 50%;
}
book .book__cover--front .page__half--back {
  border-right: 1rem solid var(--spine);
}
book .book__cover--back {
  transform-origin: 0% 50%;
}
book .book__cover--back .page__half--front {
  border-left: 1rem solid var(--spine);
}
book .book__cover--back .book__insert {
  left: 0;
}
book .book__page:not(.book__cover) .page__half {
  background: repeating-linear-gradient(
        0deg,
        transparent 0 1rem,
        var(--underline) 1rem calc(1rem + 1px),
        transparent calc(1rem + 1px)
      )
      0 1rem/100% 100% no-repeat,
    var(--page);
}
book .sticker {
  height: 15%;
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: rotate(-25deg);
}
book .code {
  line-height: 1.2;
  font-family: monospace;
  white-space: pre-line;
  max-width: 100%;
  max-height: 100%;
  font-weight: bold;
  color: #0f0f0f;
  text-shadow: 2px 2px 0 #1c1c1c;
  display: block;
  overflow: hidden;
}
book .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 25%;
}
book img {
  width: 100%;
  height: 100%;
  -o-object-fit: center;
  object-fit: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
book a {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}
